/*
Geral
*/

body {
	font-family: Georgia, serif;
	color: #4d4d4d;
}

h1, h2, h3 {
	margin: 0;
	font-family: "Roboto Slab";
	font-weight: 700;
}

.botao {
	color: #f1f1f1;
	text-decoration: none;
	padding: 10px 30px;
	background-color: peru;
	font-size: .9em;
	border-radius: 3px;
}

/*
Navegação
*/

 nav {
	 display: flex;
	 flex-direction: row;
	 align-items: center;
	 background-color: black;
	justify-content: space-around;
 }

 nav > a {
	 text-decoration: none;
	 color: #f1f1f1;
	 font-weight: 700;
	 font-size: 30px;
	 font-family: Georgia, serif;

 }

 nav ul {
	 list-style: none;
	 padding: 0;
	 display: flex;
	 flex-direction: row-reverse;
	 align-items: center;
	 width: 100%;
 }

 nav ul li a {
	display: inline-block;
	padding: 10px 0;
	width: 30%;
	text-decoration: none;
	color: #f1f1f1;
 }

 header {
	 background-image: url('../assets/bg-intro.jpg');
	 background-size: cover;
	 background-position: center;
	 background-repeat: no-repeat;
	 color: #f1f1f1;
	 display: flex;
	 flex-direction: column;
	 align-items: center;
	 text-align: center;
	 padding: 20px;
	 height: 60vh;
 }

header h1 {
	align-items: unset;
	font-size: 60px;
}

 header p {
	 font-size: 10px;
 }

 #Brafé {
	 display: flex;
	 flex-direction: column;
	 align-items: center;
 }

 #Brafé h2 {
	font-size: 50px;
	 
 }

 #Brafé div {
	 flex-direction: column;
 }

 #Brafé p {
	 align-items: center;
	 flex-direction: column;
	 width: 50%;
	 font-size: 15px;
 }

 #sobre {
	 display: flex;
	 flex-direction: initial;
	 align-items: center;
	 text-align: center;
	 padding: 0 20px 20px;
	 background-color: bisque;
 }

#sobre h3 {
	font-size: 30px;
	padding: 30px 10px 10px;
}

 #sobre p {
	 margin-bottom: 2.5em;
	 padding: 30px 20px 20px;
	 align-items: center;
	 flex-direction: column;
 }

 #produtos {
	padding: 20px;
	display: flex;
	flex-direction: column;
	align-items: center;
}

#produtos h3 {
	font-size: 30px;
	padding: 30px 10px 10px;
}

#produtos div {
	display: flex;
	flex-direction: initial;
	align-items: center;
	text-align: center;
	margin-top: 30px;
}

#produtos p {
	padding: 30px 2px 2px;;
}

#produtos div a {
	margin-bottom: 2.5em;
}

#portifolio {
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
	padding: 0 20px 20px;
	background-color: blanchedalmond;
}

#portifolio {
	width: 100%
}

footer {
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
	padding: 0 20px 20px;
	background-color: bisque;
	text-decoration: none;
	margin-bottom: 2.5em;
	width: 100%;
	list-style: none;
}

footer li a{
	text-decoration: none;
}



@media screen and (min-width: 768) {
	nav {
		flex-direction: row;
		justify-content: space-around;
	}

	nav ul {
		flex-direction: row;
		width: 70%;
	}

	/*
	Cabeçalho
	*/

	header {
		height: 600px;
		height: 60vh;
		justify-content: center;
	}

	#sobre {
		height: 250px;
		height: 30vh;
		justify-content: center;
		min-height: 250px;
	}

	#produtos {
		flex-direction: row;
		flex-wrap: wrap;
		align-items: flex-start;
		max-width: 1000px;
		margin: 0 auto;
	}

	#produtos div {
		flex-grow: 1;
		flex-basis: 150px;
		padding: 0 10px;
	}

	#portfolio {
		flex-direction: row;
		flex-wrap: wrap;
	}

	#portifolio h2 {
		width: 100%;
		text-align: center;
	}
}
